<% content_for :title, "Edit Profile" %>

<div class="card">
  <div class="card-body">
    <h2 class="card-title"><strong>Edit Profile</strong></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autocomplete: "First Name" %>
      </div><br />
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name%>
      </div><br />
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email%>
      </div><br />
      <div class="field">
        <%= f.label :born %><br />
        <%= f.date_field :born %>
      </div><br />
      <div class="field">
        <%= f.label :height %><br />
        <%= f.text_field :height%>
      </div><br />
      <div class="field">
        <%= f.label :nation %><br />
        <%= f.text_field :nation%>
      </div><br />
    <% end %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div><br />

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div><br />

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div><br />

      <div class="actions">
        <%= f.submit "Update" %>
      </div><br /><br />
  
  </div>
</div>

<h2>Cancel my account</h2>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
<br />
<%= link_to "Back", :back %>

