

<div class="dashboard ">

    <div class="row justify-content-center">

      <button type="button" class="btn btn-danger mx-auto">PANIC! SEND ALERTS NOW!
      </button>
    </div>

    <div class="row justify-content-center">

      <div class="card">
        <div class="card-body">
         <% if @destin.length == 0 %>
          <%= link_to new_user_destin_path(current_user) do %>
          <button type="button" class="btn btn-warning">New Destination</button>
          <% end %>
          <% else %>
        
          <br>
          <% @destin.each do |d| %>
          <h4 class="card-title"><%= d.title.capitalize %></h4>
            <strong>From: </strong><%= d.start_date %><br>
            <strong>To: </strong><%= d.end_date %><br>
            <strong>Alarm: </strong><%= d.alarm_date %><br>
            <strong>Address: </strong><%= d.address %><br>
            <h5>GPS Coordinates</h5>
            <strong>Lat: </strong><%= d.latitude %><br>
            <strong>Long: </strong><%= d.longitude %><br>
            <strong>Text-to-Speech Voice Message </strong><br>
            <%= d.voice_msg %><br>

            <br>
       
          <%= link_to edit_user_destin_path(d, :id) do %>
          <button type="button" class="btn btn-secondary">Edit</button>
          <% end %>
          
          <%= link_to user_destin_path(d, @destin), method: :delete do %>
          <button type="button" class="btn btn-danger">Delete</button>
          <% end %><br>
          <strong style="color:green; font-size:1.5rem; float:right;">Alarm ON 
          </strong>
        <% end %>
          <% end %>
        </div>
      </div>

      <div class="card">
        <div class="card-body">

          <% if @contacts.length < 4 %>
            <%= link_to new_user_contact_path(current_user) do %>
            <button type="button" class="btn btn-warning">New</button>
            <% end %>
          <% end %>
          <br><br>

          <h2 class="card-title">Emergency Contacts</h2>
          <% @contacts.each do |c| %>
            <%= c.first_name %> 
            <%= c.last_name %><br>
            Mobile : <%= c.mobile %><br>
            e-mail : <%= c.email %><br>
            
            <%= link_to edit_user_contact_path(c, :id) do %>
            <button type="button" class="btn btn-secondary">Edit</button>
            <% end %> 
            <%= link_to user_contact_path(c, :id), method: :delete do %>
            <button type="button" class="btn btn-danger">Delete</button>
            <% end %>
            <br><br>
          <% end %>
            
        </div>
      </div>

    </div>

    <div class="row justify-content-center">

      <div class="card">
        <div class="card-body">
          <% if @agenda.length == 0 %>
            <%= link_to new_destin_agenda_path(current_user) do %>
            <button type="button" class="btn btn-warning">New</button>
            <% end %>
          <% else %>
            <%= link_to edit_destin_agenda_path(current_user, :id) do %>
            <button type="button" class="btn btn-secondary">Edit</button>
            <% end %>
            <%= link_to destin_agenda_path(current_user, @agenda), method: :delete do %>
            <button type="button" class="btn btn-danger">Delete</button>
            <% end %>
          <% end %>
            <br><br>

          <h2 class="card-title">Agenda</h2>
          <% @agenda.each do |a| %>
          <a href="/destin/destin_id/agendas/<%= a.id %>">
          <%= a.title %></a><br>
          Address: <%= a.address %><br>
          <br><br>
          <% end %>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <% if @car.length == 0 %>
            <%= link_to new_user_car_path(current_user) do %>
            <button type="button" class="btn btn-warning">New</button> 
            <% end %>
          <% else %>
            <%= link_to edit_user_car_path(current_user, :id) do %>
            <button type="button" class="btn btn-secondary">Edit</button>
            <% end %>
            <%= link_to user_car_path(current_user, @car), method: :delete do %>
            <button type="button" class="btn btn-danger">Delete</button> 
            <% end %>
          <% end %>
            <br><br>

          <h2 class="card-title">Vehicle</h2>
          <% @car.each do |c| %>
          <h5><%= c.make %>
          <%= c.model %></h5><br>
          <%= c.year %> / 
          <%= c.color %><br>
          </a><br>
          <% end %>
        </div>
      </div>

    </div>

</div>