

<div class="dashboard ">

    <div class="row justify-content-center">

      <h2>Next Destination</h2>
        
      <br>
      
      <%= link_to new_user_destin_path(current_user) do %>
        <button type="button" class="btn btn-warning">new destination</button>
      <% end %>

      <button type="button" class="btn btn-danger">test sms</button>
    </div>

    <div class="row justify-content-center">

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">title</h4>
          <% @destin.each do |d| %>
            From: <%= d.start_date %><br>
            To: <%= d.end_date %><br>
            Address: <%= d.address %><br>
            <br> %>
          <% end %>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Emergency Contacts</h4>
          <% @contact.each do |c| %>
            <a href="/contacts/<%= c.id %>">
            <%= c.first_name %> 
            <%= c.last_name %></a><br>
            Mobile : <%= c.mobile %><br>
            e-mail : <%= c.email %><br>
          <% end %>
        </div>
      </div>

    </div>

    <div class="row justify-content-center">

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Agenda</h4>
          <% @agenda.each do |a| %>
          <a href="/agendas/<%= a.id %>">
          <%= a.title %></a><br>
          Address: <%= a.address %><br>
          <br><br>
          <% end %>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Vehicle</h4>
          <% @car.each do |c| %>
          <a href="/cars/<%= c.id %>">
          <%= c.make %><br>
          <%= c.model %><br>
          <%= c.year %><br>
          <%= c.color %><br>
          </a><br>
          <% end %>
        </div>
      </div>

    </div>

</div>