<center>
<div class="card">
  <div class="card-body">

    <%= link_to edit_car_path do %>
    <button type="button" class="btn btn-dark">
    Edit Profile
    </button>
    <% end %>
    
    <%= link_to car_path(@car), method: :delete  do %>
    <button type="button" class="btn btn-danger">
    Delete car
    </button>
    <% end %>
    <br>
  
    <h4><strong>
    <%= @car.make %>
    <%= @car.model %>
    </h4></strong><br>
    <strong>Year: </strong>
    <%= @car.year %><br>
    <strong>Color: </strong>
    <%= @car.color %>
    <br><br>

    <%= link_to "Back", :back %>
  </div>
</div>
</center>